.App {
  text-align: center;
}
*{
  overflow-x: hidden;
}
.navbar{
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.search{
  width: 30vw;
}

.sub{
  padding-right: 50px;
}




@media only screen and (max-width: 768px) {
 .navbar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
 }
 .search{
  width: 70vw;
}
.sub{
  padding-right: calc(var(--bs-gutter-x) * .5);
}
}